<div style="text-align:center;">
  <button mat-raised-button (click)="updateObservable(false)">Check for new Data</button>
</div>
<div>
  <canvas baseChart
    [chartType]="pieChartType"
    [colors]="pieChartColor"
    [data]="pieChartData"
    [labels]="pieChartLabels"
    [legend]="pieChartLegend"
    [options]="pieChartOptions"
  >
  </canvas>
</div>
