table {
  width: 100%;
}
button {
  text-align: center;
  align-content: center;
  margin-bottom: 4%;
  padding-right: 10%;
  padding-left: 10%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px;
}

.length {
  align-content: center;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  margin-top: 20%;
}
