<div style="text-align:center;">
  <button mat-raised-button color="primary" (click)="refresh()">Check for new Data</button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
  </ng-container>

  <ng-container matColumnDef="vendor">
    <th mat-header-cell *matHeaderCellDef> Vendor </th>
    <td mat-cell *matCellDef="let element"> {{element.vendor}} </td>
  </ng-container>

  <ng-container matColumnDef="hashed mac">
    <th mat-header-cell *matHeaderCellDef> Hashed Mac </th>
    <td mat-cell *matCellDef="let element"> {{element['hash-mac'].substr(0, 15)}}... </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="length" *ngIf="currentLength | async">
  <h1>Devices Found: {{(currentLength | async)}}</h1>
</div>
