<div *ngIf="dataSets && dataSets.length > 0 && lineChartOptions">
  <canvas baseChart
    [datasets]="dataSets"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
  >
  </canvas>
</div>
